@import './base/colors.scss';


* {
    box-sizing: border-box;
  }
  
  html {
    overflow-y: hidden;
  }
  
  body {
    font-size: 14px;
    font-family: 'DM Sans', 'Roboto', sans-serif !important;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  